---
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import Intro from "@/components/Intro.astro";
import Writing from "@/components/Writing.astro";
import SideProjects from "@/components/SideProjects.astro";
---

<Base
  props={{
    title: AppConfig.title,
    description: AppConfig.description,
    image: AppConfig.image,
  }}
>
  <header class="animate-up">
    <h1>Hey there!</h1>
  </header>

  <hr class="divider-large animate-up delay-1" />

  <section class="animate-up delay-2">
    <Intro />
  </section>

  <hr class="divider-small animate-up delay-3" />

  <section class="animate-up delay-3">
    <h2>Projects</h2>
    <SideProjects />
  </section>

  <hr class="divider-small animate-up delay-4" />

  <section class="animate-up delay-4">
    <Writing />
  </section>
</Base>
