---
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import Intro from "@/components/Intro.astro";
import Writing from "@/components/Writing.astro";
import SideProjects from "@/components/SideProjects.astro";
---

<Base
  props={{
    title: AppConfig.title,
    description: AppConfig.description,
    image: AppConfig.image,
  }}
>
  <h3>Hey there!</h3>
  <Intro />
  <SideProjects />
  <Writing />
</Base>
