---
import SideProjects from "@/components/SideProjects.astro";
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
---

<Base
  props={{
    title: "Projects | " + AppConfig.author,
    description: AppConfig.description,
    image: AppConfig.image,
  }}
>
  <header class="animate-up">
    <h1>Projects</h1>
  </header>
  <hr class="divider-large animate-up delay-1" />
  <section class="animate-up delay-1">
    <SideProjects />
  </section>
</Base>
