---
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
---

<Base
  props={{
    title: "Bookmarks | " + AppConfig.author,
    description: AppConfig.description,
    image: AppConfig.image,
  }}
>
  <header class="animate-up">
    <h1>Bookmarks</h1>
  </header>
  <hr class="divider-large animate-up delay-1" />
  <section class="animate-up delay-1">
    <p>Work in progress. A collection of interesting links and resources.</p>
  </section>
</Base>
