<p>
  My name is Ramkarthik Krishnamurthy and I'm an engineer, maker, and writer -
  in that order. I work as a software engineer, I make things on the side, and
  then I write occasionally (although I plan to write more).
</p>
<p>This is my digital home - the essays and notes are my digital garden.</p>
<h3>I code at work. I also code for fun.</h3>
<p>
  Coding happens to be my passion. My wife thinks I'm working too much because
  it's hard to tell whether I'm coding for work or working on a side project.
</p>
<p>
  I have created a few side projects. There's a chance you've never used or even
  heard of any of it. That's because I stick to the developer stereotype. I
  don't market my side projects. Nevertheless, here they are...
</p>
