---
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import { capitalize } from "@/utils/string";
import PostList, { type ListPostProps } from "./PostList.astro";

const {
  props: { key, showSummary, limit },
} = Astro.props as ListPostProps;
---

<Base
  props={{
    title: key === "all" ? "Blog" : `My collection of ${key}`,
    description: AppConfig.description,
    image: AppConfig.image,
  }}
>
  <header class="animate-up">
    <h1>{key === "all" ? "Blog" : capitalize(key)}</h1>
  </header>

  <hr class="divider-large animate-up delay-1" />
  <section class="animate-up delay-1">
    <PostList props={{ key, showSummary, limit }} />
  </section>
</Base>
